<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

## Lab 4.2.1: Feature Selection

### 1. Load & Explore Data

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

#### 1.1 Load Data

In [41]:
# Read CSV
wine = pd.read_csv('winequality_merged.csv')

#### 1.2 Explore Data (Exploratory Data Analysis)

In [42]:
# ANSWER
wine.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1

In [43]:
wine.shape

(6497, 13)

### 2. Set Target Variable

Create a target variable for wine quality.

In [44]:
# Target Variable
wine_pred_var = wine.drop('quality', axis=1)
wine_target = wine.quality

### 3. Set Predictor Variables

Create a predictor matrix with variables of your choice. State your reason.

In [46]:
# ANSWER
wine_pred_var.head(3)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,1

### 4. Using Linear Regression Create a Model and Test Score

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [48]:
# Train-Test Split

X = wine_pred_var
y = wine_target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [49]:
# Create a model for Linear Regression

lm = LinearRegression()
# Fit the model with the Training data

lm.fit(X_train,y_train )
# Calculate the score (R^2 for Regression) for Training Data

print(f" The R2 score for Training Data is {lm.score(X_train, y_train)}")   
# Calculate the score (R^2 for Regression) for Testing Data
print(f" The R2 score for Testing Data is {lm.score(X_test, y_test)}")

 The R2 score for Training Data is 0.30294471018673197
 The R2 score for Testing Data is 0.26715748512625526

### BONUS: Cross validation

In [76]:
# Cross validation 
from sklearn.model_selection import KFold 
from sklearn.metrics import mean_squared_error, r2_score

In [59]:
wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,red_wine
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,1
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,1

In [87]:
# Set up 5-fold cross validation  
k_fold = KFold(5, shuffle=True)
train_scores = []
train_rmse = []
test_scores = []
test_rmse = []

X = np.array(wine_pred_var)
Y = np.array(wine_target)
for train, test in k_fold.split(X):
    
    # Get training and test sets for X and y
    X_train, X_test, y_train, y_test = X[train], X[test], Y[train], Y[test]
    
    # Fit model with training set
    lm.fit(X_train, y_train)
    # Make predictions with training and test set
    y_pred_test = lm.predict(X_test)
    y_pred_train = lm.predict(X_train)
    
    # Score R2 and RMSE on training and test sets and store in list
    train_scores.append(r2_score(y_train,y_pred_train))
    train_rmse.append(mean_squared_error(y_train,y_pred_train))
    
    test_scores.append(r2_score(y_test,y_pred_test))
    test_rmse.append(mean_squared_error(y_test,y_pred_test))
    
# Create a metrics_df dataframe to display r2 and rmse scores

metrics_df = pd.DataFrame(list(zip(train_scores, train_rmse, test_scores, test_rmse)),columns=['Train R2',\
                                                                                              'Train RMSE','Test R2',\
                                                                                              'Test RMSE'])
metrics_df

   Train R2  Train RMSE   Test R2  Test RMSE
0  0.295798    0.531630  0.297728   0.556525
1  0.309323    0.533286  0.235463   0.552625
2  0.295985    0.531139  0.295105   0.559100
3  0.294167    0.541084  0.304607   0.518689
4  0.289724    0.542701  0.321638   0.512809

In [83]:
# Describe the metrics
# R2 for the train and test data set isaround 0.30 which means approx 30% of the variance of quality can be explained 
# the features.
# Root Mean Square Error is the square root of the average of the squared differences between 
# the estimated and the actual value of the variable/feature.

### 5. Feature Selection

What's your score (R^2 for Regression) for Testing Data? 

How many feature have you selected? Can you improve your score by selecting different features?

In [84]:
# R2 is around 0.29.

**Please continue with Lab 4.2.2 with the same dataset.**



---



---



> > > > > > > > > Â© 2021 Institute of Data


---



---